/* $Id$ */
.node-form .form-region-right {
  width: 29%;
  float: right;
}

.node-form-has-region-right .form-region-main {
  float: left;
  width: 70%;
}

.node-form-has-region-right .form-region-footer {
  clear: both;
}